.navbar-right { margin-right: 0px !important }
.log {
    margin: 5px 10px 0 0;
}

.note-field {
  position: relative;
}

.note-field input, .note-field textarea {
 display: none;
}

.note-field.editing input, .note-field.editing textarea {
  display: inherit;
}

.note-field span {
  display: inherit;
}

.note-field.editing span {
  display: none;
}

.new-note {
    margin: auto;
}

.note-delete {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.4;
}

.note:hover .note-delete {
  display: inline;
}

.note-delete:hover {
  opacity: 1;
}

.form-control {
  width: 100% !important;
}

.add-note, .your-notes {
  border: 2px solid #ccc;
  padding: 2em 1em;
  margin: 1em 0;
}

.word {
  width: 20%;
}

.definition {
  width: 30%;
}

.context {
  width: 50%;
}

.note-field textarea {
  width: 100%;
  height: 100%;
}

.note-field:hover {
  background-color: #FCE47E;
  border: 2px dotted #ccc;
}

#login form {
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em;
}
